h2 {
    color: #e5e5dc;
    text-align: center;
    margin: 0 auto; /* Center the heading horizontally */
    padding: 10px;
}
p {
    margin-top: 20px;
    text-align: center;
}

a {
    color: #c4a35a;
    text-decoration: none;
}
.input-container {
    animation: glow 4s infinite;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #acacac, 0 0 10px #acacac, 0 0 5px #acacac;
    }
    50% {
        box-shadow: 0 0 10px #acacac, 0 0 20px #acacac, 0 0 30px #acacac;
    }
    100% {
        box-shadow: 0 0 5px #acacac, 0 0 15px #acacac, 0 0 5px #acacac;
    }
}     